<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TutoStruts</display-name>
  <welcome-file-list>
    <welcome-file>pages/main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddressAction</display-name>
    <servlet-name>AddAddressAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.AddAddressAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressAction</servlet-name>
    <url-pattern>/AddAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTelephoneAction</display-name>
    <servlet-name>AddTelephoneAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.AddTelephoneAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTelephoneAction</servlet-name>
    <url-pattern>/AddTelephone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGroupeAction</display-name>
    <servlet-name>AddGroupeAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.AddGroupeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGroupeAction</servlet-name>
    <url-pattern>/AddGroupe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContactToGroupAction</display-name>
    <servlet-name>AddContactToGroupAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.AddContactToGroupAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContactToGroupAction</servlet-name>
    <url-pattern>/AddContactToGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactAction</display-name>
    <servlet-name>DeleteContactAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.DeleteContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactAction</servlet-name>
    <url-pattern>/DeleteContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAddressAction</display-name>
    <servlet-name>DeleteAddressAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.DeleteAddressAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAddressAction</servlet-name>
    <url-pattern>/DeleteAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePhoneAction</display-name>
    <servlet-name>DeletePhoneAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.DeletePhoneAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePhoneAction</servlet-name>
    <url-pattern>/DeletePhone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGroupAction</display-name>
    <servlet-name>DeleteGroupAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.DeleteGroupAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGroupAction</servlet-name>
    <url-pattern>/DeleteGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactFromGroupAction</display-name>
    <servlet-name>DeleteContactFromGroupAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.DeleteContactFromGroupAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactFromGroupAction</servlet-name>
    <url-pattern>/DeleteContactFromGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAddressAction</display-name>
    <servlet-name>SearchAddressAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.SearchAddressAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAddressAction</servlet-name>
    <url-pattern>/SearchAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPhoneAction</display-name>
    <servlet-name>SearchPhoneAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.SearchPhoneAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPhoneAction</servlet-name>
    <url-pattern>/SearchPhone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContactAction</display-name>
    <servlet-name>SearchContactAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.SearchContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContactAction</servlet-name>
    <url-pattern>/SearchContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyAddressAction</display-name>
    <servlet-name>ModifyAddressAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.ModifyAddressAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyAddressAction</servlet-name>
    <url-pattern>/ModifyAddressAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyContactAction</display-name>
    <servlet-name>ModifyContactAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.ModifyContactAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyContactAction</servlet-name>
    <url-pattern>/ModifyContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyGroupAction</display-name>
    <servlet-name>ModifyGroupAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.ModifyGroupAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyGroupAction</servlet-name>
    <url-pattern>/ModifyGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyPhoneAction</display-name>
    <servlet-name>ModifyPhoneAction</servlet-name>
    <servlet-class>org.lip6.struts.servletAction.ModifyPhoneAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPhoneAction</servlet-name>
    <url-pattern>/ModifyPhone</url-pattern>
  </servlet-mapping>
</web-app>